<div class="error-container">
  <h1>404 Error</h1>
  <p>Page Not Found</p>
  <p>I thought you were looking for a place to eat, not a non-existent page.</p>
  <p>Please click <a href="/">here</a> to go back to the homepage.</p>
</div>
