<div class="error-container">
  <h1>500 Internal Server Error</h1>
  <p>
    Please contact me at <a href="mailto:wguo91@gmail.com">
    wguo91@gmail.com</a> and inform me about this issue. I will
    try to resolve the problem as soon as possible.
  </p>
  <p>Please click <a href="/">here</a> to go back to the homepage.</p>
</div>
