<form id="location-form" method="post" action="/request/food">
  <h1>What should I eat?</h1>
  <p>Give me your location first:</p>
  <label for="address">Address</label>
  <input id="address" name="address" placeholder="Enter your address"
    type="text" aria-required="true">
  <input type="submit" id="submit" class="submit-btn" value="Gimme">
  <p>{{errors}}</p>
</form>
<footer>
  Please update your browser to the latest version of Google Chrome, Firefox,
  Internet Explorer, Safari, or Opera for the best user experience.
</footer>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places"></script>
<script src="/js/index.min.js"></script>
