/**********************************
 * CSS RESET
 **********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* global variables */
/* font related variables */
/* colors */
/* mixins */
/**********************************
 * INDEX
 **********************************/
body {
  font-family: "Fira Sans Condensed", sans-serif;
  background: url("/images/food-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  /* autocomplete styles */
  /* placeholder styles */ }
  body h1 {
    font-size: 5em;
    font-weight: bold;
    text-align: center; }
  body h2 {
    font-size: 2.5em; }
  body h3 {
    font-size: 1.75em; }
  body h4 {
    font-size: 1.5em; }
  body #location-form input {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.5em; }
  body #location-form input[type="text"] {
    width: 300px; }
  body .submit-btn,
  body .btn {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5em;
    background-color: #5C5C5C;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    margin: 0 0.5em 0.5em;
    padding: 0.5em; }
  body .submit-btn:hover,
  body .submit-btn:active,
  body .btn:hover,
  body .btn:active {
    background-color: #000000; }
  body .pac-container {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5em; }
    body .pac-container .pac-item {
      border: 0.1em solid #F6F6F6;
      padding: 0.5em 1em; }
    body .pac-container span {
      font-size: 1.5em; }
  body .pac-container:after,
  body .pac-icon {
    display: none; }
  body ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase; }
  body ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase; }
  body :-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase; }
  body :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase; }
  body #location-form {
    text-align: center;
    margin: 4em 1em; }
    body #location-form h2 {
      margin: 0.5em 0; }
    body #location-form h3 {
      margin: 0.5em 0; }
    body #location-form label {
      display: none; }
    body #location-form #gimme {
      margin: 0.5em; }

@media only screen and (min-width: 768px) {
  #gimme {
    margin: 0 0.5em; } }
/* global variables */
/* font related variables */
/* colors */
/* mixins */
/**********************************
 * RECOMMENDATION
 **********************************/
#recommendation {
  z-index: 1;
  position: relative;
  text-align: left; }
  #recommendation h3 {
    background-color: rgba(163, 2, 31, 0.8);
    color: #FFFFFF;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em; }
  #recommendation span {
    font-weight: bold; }

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

#back {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }

#yelp {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; }

.hide {
  display: none; }

/* global variables */
/* font related variables */
/* colors */
/* mixins */
/**********************************
 * LOADING
 **********************************/
#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F6F6F6;
  position: fixed;
  display: block;
  z-index: 99; }
  #loading > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    width: 400px;
    height: 200px;
    text-align: center; }
    #loading > div .double-bounce1,
    #loading > div .double-bounce2 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -25px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #A9A9A9;
      opacity: 0.8;
      animation: sk-bounce 2.0s infinite ease-in-out; }
    #loading > div .double-bounce2 {
      animation-delay: -1.0s; }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }
/* global variables */
/* font related variables */
/* colors */
/* mixins */
/**********************************
 * FOOTER
 **********************************/
footer {
  font-size: 0.75em;
  color: #FFFFFF;
  width: 100%;
  text-transform: none;
  text-align: center;
  background-color: #5C5C5C;
  padding: 0.25em 0;
  position: fixed;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=main.css.map */
