@import "_base.scss";
/**********************************
 * FOOTER
 **********************************/
footer {
  @include positionBottomLeft(fixed, 0, 0);
  color: $white;
  width: 100%;
  text-transform: none;
  text-align: center;
  background-color: #5C5C5C;
  padding: 0.25em 0;
  small {
    font-size: $footer-font-size;
  }
}
