@import "_base.scss";
/**********************************
 * INDEX
 **********************************/
body {
  font-family: $font-stack;
  background: $bg-img no-repeat center center fixed;
  background-size: cover;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  h1 {
    font-size: $h2-font-size;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    margin: 0.5em 0;
    font-size: $h3-font-size;
  }
  h3 {
    font-size: $h4-font-size;
  }
  h4 {
    font-size: $h5-font-size;
  }
  p {
    font-size: $h3-font-size;
    margin: 0.5em 0;
  }
  label {
    display: none;
  }
  #location-form {
    text-align: center;
    margin: 4em 1em;
    input {
      font-family: $font-stack;
      font-size: $input-font-size;
      text-transform: uppercase;
      padding: 0.5em;
    }
    input[type="text"] {
      width: 300px;
    }
    input[type="submit"] {
      margin: 0.5em;
    }
  }
  .error-container {
    text-transform: none;
    margin: 4em auto;
    text-align: center;
    width: 80%;
    a {
      color: $dark-red-with-opacity;
      text-decoration: none;
    }
  }
  .submit-btn,
  .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: $font-stack;
    font-size: $input-font-size;
    background-color: $dark-gray;
    color: $white;
    text-transform: uppercase;
    border: none;
    margin: 0 0.5em 0.5em;
    padding: 0.5em;
  }
  .submit-btn:hover,
  .submit-btn:active,
  .btn:hover,
  .btn:active {
    background-color: $black;
  }
  /* Google Places API autocomplete styles */
  .pac-container {
    font-family: $font-stack;
    font-size: $input-font-size;
    .pac-item {
      border: 0.1em solid $light-gray;
      padding: 0.5em 1em;
    }
    span {
      font-size: $input-font-size;
    }
  }
  .pac-container:after,
  .pac-icon {
    display: none;
  }
  /* placeholder styles */
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder,
  :-moz-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 768px) {
  input[type="submit"] {
    margin: 0 0.5em;
  }
}
