@import "_base.scss";
/**********************************
 * RECOMMENDATION
 **********************************/
#recommendation {
  position: relative;
  z-index: 1;
  h3 {
    background-color: $dark-red-with-opacity;
    color: $white;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
  }
  span {
    font-weight: bold;
  }
  #food-form, #drinks-form {
    input {
      margin: 0 0.5em 0.5em;
    }
  }
}
#google-map {
  @include width-height(100%, 100%);
  @include positionTopLeft(0, 0, absolute);
  z-index: 0;
}
#change-location {
  @include positionBottomLeft(0, 0, absolute);
  z-index: 1;
}
#yelp {
  @include positionBottomRight(0, 0, absolute);
  z-index: 1;
}
.hide {
  display: none;
}
